language: php
php:
  - 7.4.6
install:
  - composer install
cache:
  directories:
    - vendor

before_script:
  - composer self-update
  - composer install --no-interaction

script:
  - vendor/bin/phpunit